* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://mihajlas.github.io/static/indie.jpg');
    background-size: cover;
}

::selection {
    color: white;
    background: #9562b6;
}

.container {
    width: 430px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
    text-align: center;
}

.container header {
    color: #603280;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.container #select-area {
    height:67px;
    display: flex;
    cursor: pointer;
    margin:30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border:2px dashed #9562b6;
}

#select-area i {
    font-size: 50px;
    color: #603280;
}

#select-area p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #9562b6;
}

#select-area a {
    color: #603280;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 7px;
}

.container h2 {
    color: #603280;
    font-size: 20px;
    margin-bottom: 20px;
}

